.a{
    width: 33%;
    height: 30px;
    text-align: center;
    background-color: aliceblue;
}

.menu{
    display:inline-block;
    display:block;
    width:100%;
    height: 10%;
    margin-bottom: 3%;
}

.menu button{
    width: 33.33%;
}

.header{
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    font-size: 19px;
}

.table{
    table-layout: fixed;
    width: 200px;
    text-align: center;
    height: 100px;
    margin-right: 1%;
    border-color: black;
    margin-right: 10%;
    margin-bottom: 10%;
}

.table_upload{
    flex-direction: column;
}

.table_upload_but{
    width: 10%;
    height: 50px;
    text-align: center;
    background-color: aliceblue;
    float:none;
    margin-bottom: 1%;
    margin-right: 0%;
    margin-left: 5%;
}

.table th{
    width: 130px;
    margin: 5%;
}

.table td{
    width: 100px;
    margin: 10%;
}

.table tr{
    height: 30px;
}
.tables{
    margin-left: 5%;
    float:left;
    display:flex;
}